In [2]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import pandas as pd

# Load data
data = pd.read_csv('sliding_window_data.csv', nrows=1000000)

In [3]:
#Fill the NA data with 0
data = data.fillna(0)

In [4]:
data

,date,time,station,value,T1S1_time,T1S1_station number,T1S1_dist,T1S1_value,T1S2_time,T1S2_station number,...,T6S4_dist,T6S4_value,T6S5_time,T6S5_station number,T6S5_dist,T6S5_value,T6S6_time,T6S6_station number,T6S6_dist,T6S6_value
0,2023-02-03,00:10:00,S77,0.0,-35,S223,0.000135,0.0,-35,S222,...,0.000434,0.0,-60,S79,0.000655,0.0,-60,S77,0,0.0
1,2023-02-03,00:15:00,S77,0.0,-35,S223,0.000135,0.0,-35,S222,...,0.000434,0.0,-60,S79,0.000655,0.0,-60,S77,0,0.0
2,2023-02-03,00:20:00,S77,0.0,-35,S223,0.000135,0.0,-35,S222,...,0.000434,0.0,-60,S79,0.000655,0.0,-60,S77,0,0.0
3,2023-02-03,00:25:00,S77,0.0,-35,S223,0.000135,0.0,-35,S222,...,0.000434,0.0,-60,S79,0.000655,0.0,-60,S77,0,0.0
4,2023-02-03,00:30:00,S77,0.0,-35,S223,0.000135,0.0,-35,S222,...,0.000434,0.0,-60,S79,0.000655,0.0,-60,S77,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2020-04-07,21:50:00,S90,0.0,-35,S120,0.000109,0.0,-35,S213,...,0.000579,0.0,-60,S223,0.000642,0.0,-60,S90,0,0.0
999996,2020-04-07,21:55:00,S90,0.0,-35,S120,0.000109,0.0,-35,S213,...,0.000579,0.0,-60,S223,0.000642,0.0,-60,S90,0,0.0
999997,2020-04-07,22:00:00,S90,0.0,-35,S120,0.000109,0.0,-35,S213,...,0.000579,0.0,-60,S223,0.000642,0.0,-60,S90,0,0.0
999998,2020-04-07,22:05:00,S90,0.0,-35,S120,0.000109,0.0,-35,S213,...,0.000579,0.0,-60,S223,0.000642,0.0,-60,S90,0,0.0
999999,2020-04-07,22:10:00,S90,0.0,-35,S120,0.000109,0.0,-35,S213,...,0.000579,0.0,-60,S223,0.000642,0.0,-60,S90,0,0.0

In [5]:
#Change the time variable as factor
data['T1S1_time'] = data['T1S1_time'].astype(object)
data['T1S2_time'] = data['T1S2_time'].astype(object)
data['T1S3_time'] = data['T1S3_time'].astype(object)
data['T1S4_time'] = data['T1S4_time'].astype(object)
data['T1S5_time'] = data['T1S5_time'].astype(object)
data['T1S6_time'] = data['T1S6_time'].astype(object)

data['T2S1_time'] = data['T2S1_time'].astype(object)
data['T2S2_time'] = data['T2S2_time'].astype(object)
data['T2S3_time'] = data['T2S3_time'].astype(object)
data['T2S4_time'] = data['T2S4_time'].astype(object)
data['T2S5_time'] = data['T2S5_time'].astype(object)
data['T2S6_time'] = data['T2S6_time'].astype(object)

data['T3S1_time'] = data['T3S1_time'].astype(object)
data['T3S2_time'] = data['T3S2_time'].astype(object)
data['T3S3_time'] = data['T3S3_time'].astype(object)
data['T3S4_time'] = data['T3S4_time'].astype(object)
data['T3S5_time'] = data['T3S5_time'].astype(object)
data['T3S6_time'] = data['T3S6_time'].astype(object)

data['T4S1_time'] = data['T4S1_time'].astype(object)
data['T4S2_time'] = data['T4S2_time'].astype(object)
data['T4S3_time'] = data['T4S3_time'].astype(object)
data['T4S4_time'] = data['T4S4_time'].astype(object)
data['T4S5_time'] = data['T4S5_time'].astype(object)
data['T4S6_time'] = data['T4S6_time'].astype(object)

data['T5S1_time'] = data['T5S1_time'].astype(object)
data['T5S2_time'] = data['T5S2_time'].astype(object)
data['T5S3_time'] = data['T5S3_time'].astype(object)
data['T5S4_time'] = data['T5S4_time'].astype(object)
data['T5S5_time'] = data['T5S5_time'].astype(object)
data['T5S6_time'] = data['T5S6_time'].astype(object)

data['T6S1_time'] = data['T6S1_time'].astype(object)
data['T6S2_time'] = data['T6S2_time'].astype(object)
data['T6S3_time'] = data['T6S3_time'].astype(object)
data['T6S4_time'] = data['T6S4_time'].astype(object)
data['T6S5_time'] = data['T6S5_time'].astype(object)
data['T6S6_time'] = data['T6S6_time'].astype(object)

In [174]:
#Testing only with the raining data
X = data.drop(['date','time','station',
               'T1S1_station number', 'T1S2_station number', 'T1S3_station number','T1S4_station number','T1S5_station number','T1S6_station number',
              'T2S1_station number', 'T2S2_station number', 'T2S3_station number','T2S4_station number','T2S5_station number','T2S6_station number',
              'T3S1_station number', 'T3S2_station number', 'T3S3_station number','T3S4_station number','T3S5_station number','T3S6_station number',
              'T4S1_station number', 'T4S2_station number', 'T4S3_station number','T4S4_station number','T4S5_station number','T4S6_station number',
              'T5S1_station number', 'T5S2_station number', 'T5S3_station number','T5S4_station number','T5S5_station number','T5S6_station number',
              'T6S1_station number', 'T6S2_station number', 'T6S3_station number','T6S4_station number','T6S5_station number','T6S6_station number'], axis=1)
y = data['value'] # Target variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_test = X_test.loc[(X_test["value"]!=0)]
X_test = X_test.drop(['value'], axis=1)
y_test = y_test[y_test!=0]
X_train = X_train.drop(['value'], axis=1)

In [169]:
#with the origin station data
X = data.drop(['date','time','station','value',
               'T1S1_station number', 'T1S2_station number', 'T1S3_station number','T1S4_station number','T1S5_station number','T1S6_station number',
              'T2S1_station number', 'T2S2_station number', 'T2S3_station number','T2S4_station number','T2S5_station number','T2S6_station number',
              'T3S1_station number', 'T3S2_station number', 'T3S3_station number','T3S4_station number','T3S5_station number','T3S6_station number',
              'T4S1_station number', 'T4S2_station number', 'T4S3_station number','T4S4_station number','T4S5_station number','T4S6_station number',
              'T5S1_station number', 'T5S2_station number', 'T5S3_station number','T5S4_station number','T5S5_station number','T5S6_station number',
              'T6S1_station number', 'T6S2_station number', 'T6S3_station number','T6S4_station number','T6S5_station number','T6S6_station number'], axis=1) # Input features
y = data['value'] # Target variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [1]:
# Train random forest model with full data
rf_full = RandomForestRegressor(n_estimators=500, random_state=42)
rf_full.fit(X_train, y_train)

NameError: name 'RandomForestRegressor' is not defined

In [175]:
# Predict on test set
y_pred = rf_full.predict(X_test)

# Evaluate model
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse:.2f}')

Mean Squared Error: 2.17

In [172]:
(y_pred-y_test).sort_values(ascending=True)

30272    -14.989138
983138   -14.962164
973416   -11.162164
53089    -10.444000
16543    -10.389138
            ...
672811     3.600000
341502     3.689997
137268     3.848000
5065       4.187550
338175     4.679996
Name: value, Length: 200000, dtype: float64

In [130]:
min((y_pred-y_test))

-8.778000499999997

In [176]:
#result = pd.concat([y_pred,y_test], axis=1)
#type(y_pred)
result = pd.DataFrame({'predicted': y_pred, 'actual': y_test}, columns=['predicted', 'actual'])
result

        predicted  actual
336983   0.426000     0.2
66336    0.109359     3.6
996135   0.037836     0.2
992619   0.230000     0.2
344474   0.130000     0.2
...           ...     ...
353262   0.004227     0.2
970829   0.360000     0.2
912044   0.001450     0.4
344466   0.360000     0.2
347902   0.862000     0.4

[5506 rows x 2 columns]

In [177]:
#Worst case - predicted no rain but rain
result1 = result[result['actual'] >= 0.25]
result1 = result1[result1['predicted'] <= 0.25]
len(result1)/len(result)

0.2629858336360334

In [178]:
#second worst case - predicted rain but no rain
result2 = result[result['actual'] <= 0.25]
result2 = result2[result2['predicted'] >= 0.25]
len(result2)/len(result)

0.1592807845986197

In [173]:
len(abs(y_pred-y_test)[abs(y_pred-y_test)>=0.25])/len(abs(y_pred-y_test))

0.027565

In [147]:
len(abs(y_pred-y_test))

5506

In [148]:
#from sklearn import metrics
#metrics.confusion_matrix(y_test, y_pred)